
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "ca-pub-9540087096615057",
enable_page_level_ads: true
});
</script>
  <title>Octopress 博客搜索优化 - 码匠笔记</title>
  <meta name="author" content="麻酱">

  
  <meta name="description" content="前言 尝试在Google, Baidu, Bing 搜索之前写的文章的关键字基本搜不到，甚至使用标题一模一样去搜索也不行，更意外的是第一个出现的是转载的文章。于是就带着这个疑问去网上查了一些资料，尝试去优化一下，下面就是这次优化的笔记。
PS:虽然做我们这行业的人基本都是用Google 搜索。 &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://www.majiang.life/blog/optimize-octopress-blog-seo">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="码匠笔记" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/libs/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-89103576-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">码匠笔记</a></h1>
  
    <h2>用心雕琢</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="https://www.google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="sitesearch" value="www.majiang.life">
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">首页</a></li>
  <li><a href="/blog/archives">博文</a></li>
  <li><a href="/blog/categories/spring-boot/">Spring Boot</a></li>
  <li><a href="/blog/categories/octopress/">Octopress</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">Octopress 博客搜索优化</h1>
    
    
      <p class="meta">
        




<time class='entry-date' datetime='2017-03-18T22:43:10+08:00'><span class='date'>2017-03-18</span> <span class='time'>10:43 pm</span></time>
        
           | <a href="#disqus_thread"
             data-disqus-identifier="http://www.majiang.life">评论</a>
        
      </p>
    
  </header>


<div class="entry-content"><h2>前言</h2>

<p>尝试在Google, Baidu, Bing 搜索之前写的文章的关键字基本搜不到，甚至使用标题一模一样去搜索也不行，更意外的是第一个出现的是转载的文章。于是就带着这个疑问去网上查了一些资料，尝试去优化一下，下面就是这次优化的笔记。<br/>
PS:虽然做我们这行业的人基本都是用Google 搜索。</p>

<!-- more -->


<h2>搜索引擎优化</h2>

<p>优化中包括文章链接的变动，已经提交的链接变得无法检索，所以先进行一些优化，需要再次提交链接。</p>

<ul>
<li><h4>手动提交</h4>

<p>在Google搜索的时候发现搜索不到，可以手动添加到Google，这样可以主动收录，具体的地址<br/>
<a href="https://www.google.com/webmasters/tools/home?hl=en&amp;pli=1">https://www.google.com/webmasters/tools/home?hl=en&amp;pli=1</a><br/>
里面包含搜索状态，搜索分析，网站优化等一些Google的调试工具可以使用，以提高网站的搜索效果。</p></li>
</ul>


<h2>内容优化</h2>

<ul>
<li><h4>修改post的url</h4>

<p>因为Octpopress Jeklly的默认post路径带着日期，分级较多，造成URL较长，不利于搜索引擎检索，我们可以自己缩短URL。直接在<code>_config.yml</code>里面修改<code>permalink: /blog/:year/:month/:day/:title/</code> 为 <code>permalink: /blog/:title/</code>即可。<br/>
接下来又出现问题了，因为之前已经发表的post，被搜索引擎索引了，或者是其他地方有引用就不能访问了。所以我们需要处理一下原来的文章地址，我的做法是把 <code>public</code>里面已经生成好的内容直接拷贝到<code>source/blog</code>目录下面，这样再次<code>generate</code>的时候就会把原来的目录生成在<code>public</code>里面。</p></li>
</ul>


<figure class='code'><figcaption><span>博客目录</span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
</pre></td><td class='code'><pre><code class='sh'><span class='line'><span class="nb">source</span>/blog/
</span><span class='line'>├── 2015
</span><span class='line'>│   └── 01
</span><span class='line'>│       └── 10
</span><span class='line'>│           └── begininng-and-summary
</span><span class='line'>│               └── index.html
</span><span class='line'>├── 2016
</span><span class='line'>│   └── 12
</span><span class='line'>│       ├── 15
</span><span class='line'>│       │   └── <span class="nb">set</span>-up-vagrant-environment
</span><span class='line'>│       │       └── index.html
</span><span class='line'>│       └── 24
</span><span class='line'>│           └── auto-preview-front-end-changes
</span><span class='line'>│               └── index.html
</span><span class='line'>├── 2017
</span><span class='line'>│   └── 03
</span><span class='line'>│       └── 11
</span><span class='line'>│           └── the-smart-way-of-styling-and-customizing-file-input
</span><span class='line'>│               └── index.html
</span><span class='line'>└── archives
</span><span class='line'>    └── index.html
</span></code></pre></td></tr></table></div></figure>


<p>切记不能复制<code>archives/index.html</code>，因为里面包含一些动态代码，并不是我们曾经发表的博文。然后把每一个<code>html</code>文件里面的内容删除，添加如下代码即可：</p>

<figure class='code'><figcaption><span>/blog/:year/:month/:day/:title/index.html</span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">&quot;refresh&quot;</span> <span class="na">content=</span><span class="s">&quot;0; url=/blog/begininng-and-summary&quot;</span><span class="nt">&gt;</span>
</span><span class='line'><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;canonical&quot;</span> <span class="na">href=</span><span class="s">&quot;http://majiang.life/blog/begininng-and-summary&quot;</span> <span class="nt">/&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p><code>...http-equiv=“refresh...</code>是为了再次访问这个网页的时候可以自动跳转到相应的网页，<code>...rel="canonical" href=...</code>就相当于301，这样搜索引擎会重新索引指定的网址，这样久的post可以正常使用， 新发布的post的地址也可以自动变成短链接了。</p>

<h2>版权</h2>

<p>因为好多转载的文章或者类似最近比较火的<code>阅读模式</code>处理过的文章只包含正文，为了解决这个问题，所以把原来签名等相关信息放在了正文里面，内容的最下面，这样就可以和正文同样处理了，直接把内容添加到模板页面即可。找到<code>_includes/article.html</code>，找到如下内容，<code>content</code>表示文章的正文。</p>

<figure class='code'><figcaption><span>/source/_includes/article.html</span></figcaption>
<div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;entry-content&quot;</span><span class="nt">&gt;</span>{{{ content }}
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>把我们预先准备好的版权的格式写入得到如下即可：</p>

<figure class='code'><figcaption><span>/source/_includes/article.html</span></figcaption>
<div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;entry-content&quot;</span><span class="nt">&gt;</span>{{ content }}
</span><span class='line'><span class="nt">&lt;h2&gt;</span>作者<span class="nt">&lt;/h2&gt;</span>
</span><span class='line'><span class="nt">&lt;p&gt;</span>本文作者<span class="nt">&lt;code&gt;</span>麻酱<span class="nt">&lt;/code&gt;</span>，欢迎讨论，指正和转载，转载请注明出处。<span class="nt">&lt;br/&gt;</span>
</span><span class='line'>原文地址：<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{% if index %}{{ root_url }}{{ post.url }}{% endif %}&quot;</span><span class="nt">&gt;</span>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}<span class="nt">&lt;/a&gt;&lt;br/&gt;</span>
</span><span class='line'>如果兴趣可以关注作者微信订阅号<span class="nt">&lt;br/&gt;</span>
</span><span class='line'><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;/images/wechat.jpg&quot;</span> <span class="na">height=</span><span class="s">&quot;150&quot;</span> <span class="na">width=</span><span class="s">&quot;150&quot;</span> <span class="na">alt=</span><span class="s">&quot;majiangbiji&quot;</span> <span class="nt">/&gt;&lt;/p&gt;</span>
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>示例如下文:</p>

<h2>未完待续。。。</h2>

<h2>参考链接</h2>

<p><a href="http://www.yuan-ji.me/Hexo-%E4%BC%98%E5%8C%96%EF%BC%9A%E6%8F%90%E4%BA%A4sitemap%E5%8F%8A%E8%A7%A3%E5%86%B3%E7%99%BE%E5%BA%A6%E7%88%AC%E8%99%AB%E6%8A%93%E5%8F%96-GitHub-Pages-%E9%97%AE%E9%A2%98/">Hexo-优化：提交sitemap及解决百度爬虫抓取-GitHub-Pages-问题</a><br/>
<a href="https://bblove.me/2015/11/25/how-to-solve-the-problem-that-github-blocks-the-baidu-spider/">解决 Github Pages 禁止百度爬虫的方法</a><br/>
<a href="http://konradpodgorski.com/blog/2013/10/21/how-i-migrated-my-blog-from-wordpress-to-octopress/#redirect-301-on-github-pages">How I migrated my blog from Wordpress to Octopress</a></p>

<h2>作者</h2>
<p>本文作者<code>麻酱</code>，欢迎讨论，指正和转载，转载请注明出处。<br/>
原文地址：<a href="">Octopress 博客搜索优化</a><br/>
如果兴趣可以关注作者微信订阅号<br/>
<img src="/images/wechat.jpg" height="150" width="150" alt="majiangbiji" /></p>
<h2></h2>
<p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 文章列表页自适应文字和展示广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9540087096615057"
     data-ad-slot="2018352322"
     data-ad-format="auto">
</ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">麻酱</span></span>

      




<time class='entry-date' datetime='2017-03-18T22:43:10+08:00'><span class='date'>2017-03-18</span> <span class='time'>10:43 pm</span></time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/octopress/'>octopress</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  <a href="//twitter.com/share" class="twitter-share-button" data-url="http://www.majiang.life/blog/optimize-octopress-blog-seo/" data-via="" data-counturl="http://www.majiang.life/blog/optimize-octopress-blog-seo/" >Tweet</a>
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/the-smart-way-of-styling-and-customizing-file-input/" title="Previous Post: 如何优雅的自定义File Input样式">&laquo; 如何优雅的自定义File Input样式</a>
      
      
        <a class="basic-alignment right" href="/blog/github-and-godaddy/" title="Next Post: Github Pages配置域名">Github Pages配置域名 &raquo;</a>
      
    </p>
  </footer>
</article>

  <section>
    <h1>评论</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
    <h1>关于</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;能剒削柱梁谓之木匠，能穴凿穴埳谓之土匠，能雕琢文书谓之史匠，能搬砖摞码谓之码匠。</p>
</section><section>
    <h1>订阅</h1>
    <p>
        主要用来记录自己的编程经历，学习笔记和心得体会，希望能和大家一起分享和讨论，共同进步，欢迎订阅。
    </p>
    <p>
        <img src="/images/wechat.jpg" width="153px" height="153px">
    </p>
</section>
<section>
  	<h1>广告</h1>
  	<br>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 博客邮编正方形广告 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:250px;height:250px"
	     data-ad-client="ca-pub-9540087096615057"
	     data-ad-slot="5415909924"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</section>
<section>
  <h1>标签云</h1>
    <span id="tag-cloud"><a href='/blog/categories/cache' style='font-size: 120.0%'>cache(1)</a> <a href='/blog/categories/github' style='font-size: 120.0%'>github(1)</a> <a href='/blog/categories/guava' style='font-size: 120.0%'>guava(1)</a> <a href='/blog/categories/java' style='font-size: 160.0%'>java(3)</a> <a href='/blog/categories/maven' style='font-size: 120.0%'>maven(1)</a> <a href='/blog/categories/octopress' style='font-size: 160.0%'>octopress(3)</a> <a href='/blog/categories/spring-boot' style='font-size: 120.0%'>spring-boot(1)</a> <a href='/blog/categories/tech' style='font-size: 120.0%'>tech(1)</a> <a href='/blog/categories/threadlocal' style='font-size: 120.0%'>threadlocal(1)</a> <a href='/blog/categories/vagrant' style='font-size: 120.0%'>vagrant(1)</a> <a href='/blog/categories/web' style='font-size: 140.0%'>web(2)</a> </span>
</section>
<section>
  <h1>最新</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/make-article-more-readable/">阅读模式是如何实现的?</a>
      </li>
    
      <li class="post">
        <a href="/blog/octopress-tag-cloud/">Octopress 添加标签云</a>
      </li>
    
      <li class="post">
        <a href="/blog/octopress-index-page-read-more/">为Octopress 首页添加‘更多’功能</a>
      </li>
    
      <li class="post">
        <a href="/blog/spring-boot-get-started/">使用 Idea 创建 Spring Boot 项目</a>
      </li>
    
      <li class="post">
        <a href="/blog/the-smart-way-of-passing-parameter-by-threadlocal/">优雅的使用 ThreadLocal 传递参数</a>
      </li>
    
      <li class="post">
        <a href="/blog/simple-in-memory-cache-in-java/">构建 Java 应用内存级缓存</a>
      </li>
    
      <li class="post">
        <a href="/blog/using-amazon-s3-as-a-private-maven-repository/">基于Amazon S3 搭建 Maven 私有仓库</a>
      </li>
    
      <li class="post">
        <a href="/blog/using-maven-for-multiple-environment/">安全的使用Maven实现不同环境配置文件的部署</a>
      </li>
    
      <li class="post">
        <a href="/blog/github-and-godaddy/">Github Pages配置域名</a>
      </li>
    
      <li class="post">
        <a href="/blog/optimize-octopress-blog-seo/">Octopress 博客搜索优化</a>
      </li>
    
  </ul>
</section>




  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2017 - 麻酱 -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> | Contact - gwangchunlei at gmail.com</span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'codedrinker';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://www.majiang.life/blog/optimize-octopress-blog-seo/';
        var disqus_url = 'http://www.majiang.life/blog/optimize-octopress-blog-seo/';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
