<ul class="main-navigation">
  <li><a href="{{ root_url }}/">首页</a></li>
  <li><a href="{{ root_url }}/blog/archives">博文归档</a></li>
  <li><a href="{{ root_url }}/blogroll">推荐博客</a></li>
  <li><a href="{{ root_url }}/project">开源项目</a></li>
  <li><a href="{{ root_url }}/blog/categories/java/">Java</a></li>
  <li><a href="{{ root_url }}/blog/categories/heroku/">Heroku</a></li>
  <li><a href="{{ root_url }}/blog/categories/spring/">Spring</a></li>
  <li><a href="{{ root_url }}/blog/categories/aws/">AWS</a></li>
  <li><a href="{{ root_url }}/blog/categories/octopress/">Octopress</a></li>
</ul>
<script type="text/javascript" src="https://table-of-contents-sidebar.github.io/table-of-contents-sidebar-lib/table-of-contents-sidebar.js"></script>
<script type="text/javascript">
    window.onload = function(e){ 
        TableOfContents.init({
            basePath: "https://table-of-contents-sidebar.github.io/table-of-contents-sidebar-lib/",
            querySelector: ".hentry"
        });
    }
</script>